@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'roboto-thin';
    src: url(/font/Roboto-Thin.ttf);
  }
  @font-face {
    font-family: 'roboto-medium';
    src: url(/font/Roboto-Medium.ttf);
  }
  @font-face {
    font-family: 'roboto-bold';
    src: url(/font/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: 'roboto-regular';
    src: url(/font/Roboto-Regular.ttf);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* styling for Google Places Autocomplete drop-down predictions */
.pac-container {
  border-radius: 16px;
  border: 1px solid #00ecaa;
  box-shadow: none;
}

.pac-item {
  padding-block: 5px;
}

.pac-item:hover {
  border: 1px solid #00ecaa;
}

.pac-item:active {
  border: 1px solid #00ecaa;
}

.pac-item-query {
  color: #5d3ede;
  font-family: 'roboto-regular';
}

.pac-matched {
  font-family: 'roboto-bold';
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
